name: SonarCloud Analysis
on:
  push: 
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  build:
    name: Build and analyze
    runs-on: ubuntu-latest
    
    steps:
      - uses:  actions/checkout@v4
        with:
          fetch-depth:  0
      
      - name: Set up JDK 23
        uses: actions/setup-java@v4
        with: 
          java-version: '23'
          distribution: 'temurin'
      
      - name: Cache Maven packages
        uses: actions/cache@v4
        with: 
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2
      
      - name: Build with Maven
        run: mvn -B clean package
      
      - name: SonarCloud Scan
        uses: SonarSource/sonarcloud-github-action@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        with:
          args: >
            -Dsonar.organization=yari17
            -Dsonar.projectKey=Yari17_Cardify
